<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="Author" content="liyanlong_gz helanlan_gz">
    <meta content="always" name="referrer">
    <link rel="stylesheet" href="__STATIC__/index/css/art.css"/>
</head>

<body>
<div class="doc">
    <div class="nav nav-15" data-num="13" id="Jnav_main_new">

        <div class="nav-sub0" id="JnavSub_new2016">
            <ul>
                <li class="list specialOne" id="Jspecial13">
                    <div class="nav-inner clearfix">
                        <a href="//pet.pclady.com.cn/" class="index" target="_blank">宠物</a>
                        <span class="nav-channel">
									<a href="//pet.pclady.com.cn/dog/">狗狗</a>          
									<a href="//pet.pclady.com.cn/cat/">猫猫</a>          
									<a href="//pet.pclady.com.cn/other/">小宠</a>            
									<a href="//pet.pclady.com.cn/choice/">选宠中心</a>
									<a href="//pet.pclady.com.cn/cat/health/">其他</a>
									<a href="//pet.pclady.com.cn/baike/">宠物百科</a>
								</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="subNav">
            <div class="classify" id="Jclassify">
                <div class="classify-in" id="jclass">
                    <dl class="dDog" id="jsDl">
                        <dt>
                            <a target="_blank" href="//pet.pclady.com.cn/dog/">
                                <i class="pet-icon"></i>
                                <span class="type-tit">狗狗</span>
                            </a>
                        </dt>
                        <dd>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/jinmao/">金毛</a>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/hashiqi/ ">哈士奇</a>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/taidi/">泰迪犬</a>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/alasijia/">阿拉斯加雪橇</a>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/guibin/">贵宾犬</a>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/demu/">德牧</a>
                        </dd>
                        <dd>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/samo/">萨摩耶</a>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/sumu/ ">苏格兰牧羊犬</a>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/songshi/">松狮</a>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/bianmu/">边境牧羊犬</a>
                            <a target="_blank" href="   //pet.pclady.com.cn/dog/" id="m1">MORE>></a>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/douniuquan/">斗牛犬</a>
                        </dd>
                        <dd>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/hudiequan/">蝴蝶犬</a>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/shapi/ ">沙皮狗</a>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/gaojiasuoquan/">高加索犬</a>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/keka/">可卡犬</a>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/bixiong/">比熊犬</a>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/shengbona/">圣伯纳犬</a>
                        </dd>
                        <dd>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/meiguoaisijimoquan/">美国爱斯基摩</a>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/xishi/ ">西施犬</a>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/bige/">比格犬</a>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/lachang/">腊肠</a>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/yuekexia/">约克夏</a>
                            <a target="_blank" href="//pet.pclady.com.cn/dog/" class="More">MORE>></a>
                        </dd>
                    </dl>
                    <dl class="dCat">
                        <dt>
                            <a target="_blank" href="//pet.pclady.com.cn/cat/">
                                <i class="pet-icon"></i>
                                <span class="type-tit">猫猫</span>
                            </a>
                        </dt>
                        <dd>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/yingduan/">英国短毛猫</a>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/xianluo/">暹罗</a>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/buou/">布偶猫</a>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/bosi/">波斯猫</a>
                        </dd>
                        <dd>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/eluosi/">俄罗斯蓝猫</a>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/yiduan/">异国短毛猫</a>
                            <a target="_blank" href="//pet.pclady.com.cn/cat/" id="m2">MORE>></a>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/ximalaya/">喜马拉雅猫</a>
                            </a>
                        </dd>
                        <dd>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/jianadawumaomao/">加拿大无毛猫</a>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/meiguoduanweimao/ ">美国短尾猫</a>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/meiguojuanermao/">美国卷耳猫</a>
                        </dd>
                        <dd>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/zheer/">苏格兰折耳猫</a>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/jinjila/ ">金吉拉</a>
                            <a target="_blank" href="//pet.pclady.com.cn/cat/" class="More">MORE>></a>
                        </dd>
                    </dl>
                    <dl class="dPet">
                        <dt>
                            <a target="_blank" href="//pet.pclady.com.cn/other/">
                                <i class="pet-icon"></i>
                                <span class="type-tit">小宠</span>
                            </a>
                        </dt>
                        <dd>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/rongshu/">龙猫</a>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/jiliantu/">忌廉兔</a>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/cangshu/">仓鼠</a>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/minichuiertu/ ">垂耳兔</a>
                        </dd>
                        <dd>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/songshu/">松鼠</a>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/tunshu/">豚鼠</a>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/hupiyingwu/">虎皮鹦鹉</a>
                            <a target="_blank" href="//pet.pclady.com.cn/other/" id="m3">MORE>></a>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/qingdaofu/">清道夫</a>
                        </dd>
                        <dd>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/luohanyu/">罗汉鱼</a>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/meizhouhuashu/ ">美洲花鼠</a>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/duanmaoangelatu/">锻毛安哥拉兔</a>
                        </dd>
                        <dd>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/jinli/">锦鲤</a>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/egui/">鳄龟</a>
                            <a target="_blank" href="//pet.pclady.com.cn/petall/jinyu/">金鱼</a>
                            <a target="_blank" href="//pet.pclady.com.cn/other/" class="More">MORE>></a>
                        </dd>
                    </dl>
                </div>
                <a class="show" id="Jbtn">展开</a>
            </div>
        </div>
        <script>
            var aDiv = document.getElementById("Jclassify");
            var adl = document.getElementById("jsDl");
            var ac = document.getElementById("jclass");
            var om1 = document.getElementById("m1");
            var om2 = document.getElementById("m2");
            var om3 = document.getElementById("m3");
            (function () {
                var oA = document.getElementById("Jbtn");
                var add = adl.getElementsByTagName("dd");
                var iHeight = add[0].offsetHeight * add.length;
                var iLimitH = add[0].offsetHeight * 2;
                var bShow = false;
                if (add.length > 2) {
                    ac.style.height = iLimitH + "px";
                    oA.innerHTML = "展开";
                    oA.className = "show";
                } else {
                    oA.innerHTML = "收起";
                    oA.className = "hide";
                }
                oA.onclick = function () {
                    bShow = !bShow;
                    doMove(ac, bShow ? iHeight : iLimitH);
                    oA.innerHTML = bShow ? "收起" : "展开";
                    oA.className = bShow ? "hide" : "show";
                    om1.className = bShow ? " mHide" : " ";
                    om2.className = bShow ? " mHide" : " ";
                    om3.className = bShow ? " mHide" : " ";
                };
            })()

            function doMove(obj, iTarget, callback) {
                clearInterval(obj.timer);
                obj.timer = setInterval(function () {
                    var iSpeed = (iTarget - obj.offsetHeight) / 5;
                    iSpeed = iSpeed > 0 ? Math.ceil(iSpeed) : Math.floor(iSpeed);
                    iTarget == obj.offsetHeight ? (clearInterval(obj.timer), callback && callback()) : obj.style.height = iSpeed + obj.offsetHeight + "px"
                }, 30)
            }
        </script>
    </div>
    <div class="wraper" id="Jwrapper">
        <div class="main">
            <div class="col-ab picList" id="artMain">
                <div class="guide-nav">
                    <a href="//www.pclady.com.cn" target="_blank">PCLADY首页</a> >
                    <a href="//pet.pclady.com.cn/" target="_blank">详情</a>
                </div>
                <div class="artCon">
                    <h1>
                        维持罗威士梗生命的关键物质是蛋白质
                    </h1>
                    <div class="artInfo">
								<span class="pubTime">
<!-- 2018-08-06 13:00
-->
2018-02-05 16:28
</span>
                    </div>
                    <div class="ivy770">
                        <img src="__STATIC__/index/img/banner_2.png" alt="" width="770" height="120"/>
                    </div>
                    <div class="artText" id="artText">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr>
                                <td>
                                    <!--文章内容-->
                                    <p style="text-align: center"><img alt="维持罗威士梗生命的关键物质是蛋白质"
                                                                       src="__STATIC__/index/img/1790247_37589277_1487330408759_4.jpg"
                                                                       style="border-top: black 1px solid; border-right: black 1px solid; border-bottom: black 1px solid; border-left: black 1px solid"
                                                                       title="维持罗威士梗生命的关键物质是蛋白质"/></p>
                                    <p>　　<strong>维持<a href="//pet.pclady.com.cn/petall/luoweishigeng/" target="_blank"
                                                      class="cmsLink">罗威士梗</a>生命的关键物质是蛋白质</strong></p>
                                    <p>　　蛋白质中包含的氨基酸对于
                                        <a href="//pet.pclady.com.cn/dog/" target="_blank" class="cmsLink">犬</a>的生存和成长具有至关重要的意义。此外犬还须摄入脂肪以满足能量消耗，同时满足身体对基础脂肪酸的需求。无机矿物质完成成分转换的功能，按照目前的研究结果，犬每天需要从食物中吸收22种元素。对维生素的需求比例是根据犬的体重和工作内容而定的。
                                    </p>
                                    <p>　　要满足犬身体对碳水化合物、蛋白质、脂肪、矿物质和维生素的需求，实现平衡的饮食结构，需要考虑许多方面和因素。目前许多
                                        <a href="//pet.pclady.com.cn/" target="_blank" class="cmsLink">宠物</a>食品加工企业都提供从3个月大的
                                        <a href="//pet.pclady.com.cn/baike/ggsy/yq/" target="_blank"
                                           class="cmsLink">幼犬</a>到成年犬所适用的犬食。你当然也可以自己动手为
                                        <a href="//pet.pclady.com.cn/dog/" target="_blank" class="cmsLink">爱犬</a>调制符合饮食结构和营养需求的犬食，但这将是犬饲养工作中最艰难的部分。<strong>(图片来源：视觉中国)</strong>
                                    </p>
                                    <!--文章内容end-->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="editor">
                        <span>(责任编辑：liuxumin1)</span>
                    </div>
                    <div class="ivy730 ivy-tonglan"></div>
                    <div class="artPages">
                    </div>
                </div>
                <div class="keyMode">
                    <p class="keyWord fs-14">关键词：
                        <a href="//pet.pclady.com.cn/petall/luoweishigeng/" target="_blank">罗威士梗</a>&nbsp;&nbsp;&nbsp;
                        <a href="//pet.pclady.com.cn/baike/ggsy/" target="_blank">狗狗饲养</a>&nbsp;&nbsp;&nbsp;
                        <a href="//www.pclady.com.cn/tlist/886075.html" target="_blank">狗狗饲养指南</a>&nbsp;&nbsp;&nbsp;
                        <a href="//pet.pclady.com.cn/dog/" target="_blank">宠物狗</a>&nbsp;&nbsp;&nbsp;
                        <a rel="nofollow" href="//ks.pclady.com.cn/?q=蛋白质" target="_blank">蛋白质</a>
                    </p>
                    <!--百度分享 Star-->
                    <!--<div data-tag="share_4262638" class="bdsharebuttonbox bdshare-button-style0-16" id="artTools" data-bd-bind="1417169498648">
                        <i class="iTxt" style="float:left;padding-top:6px;">分享到：</i>
                        <a data-cmd="weixin" class="bds_weixin" href="#" title="分享到微信"></a>
                        <a data-cmd="tsina" class="bds_tsina" href="#" title="分享到新浪微博"></a>
                        <a data-cmd="qzone" class="bds_qzone" href="#" title="分享到QQ空间"></a>
                        <a data-cmd="tqq" class="bds_tqq" href="#" title="分享到腾讯微博"></a>
                    </div>-->
                    <!--百度分享 End-->
                </div>
            </div>
            <!-- SII配置 start -->
            <div class="col-c" id="JsideMain">
                <div class="hasBorder newTopic mb-40">
                    <div class="c-Title mb-20">
                        <span>最新文章</span>
                    </div>
                    <div class="cont">
                        <div class="pic-txt">
                            <a href="//pet.pclady.com.cn/109/1092501.html" target="_blank" class="pic-area">
                                <img src="__STATIC__/index/img/1092501_73249064_1.jpg" alt="狗狗怀孕不能吃什么" width='120'>
                            </a>
                            <div class="txt-area">
                                <a href="//pet.pclady.com.cn/109/1092501.html" target="_blank" class='fs-14 tit'>狗狗怀孕不能吃什么</a>
                                <span class="time c888 fs-14">2018.07.11</span>
                            </div>
                        </div>
                        <div class="pic-txt">
                            <a href="//pet.pclady.com.cn/99/999093.html" target="_blank" class="pic-area">
                                <img src="__STATIC__/index/img/999093_23_1.jpg" alt="真鳄龟" width='120'>
                            </a>
                            <div class="txt-area">
                                <a href="//pet.pclady.com.cn/99/999093.html" target="_blank" class='fs-14 tit'>【真鳄龟】真鳄龟的特征及真鳄龟的饲养</a>
                                <span class="time c888 fs-14">2018.07.11</span>
                            </div>
                        </div>
                        <div class="pic-txt">
                            <a href="//pet.pclady.com.cn/109/1093124.html" target="_blank" class="pic-area">
                                <img src="__STATIC__/index/img/1093124_sb10069988b-001_1.jpg" alt="狗狗全身发抖" width='120'>
                            </a>
                            <div class="txt-area">
                                <a href="//pet.pclady.com.cn/109/1093124.html" target="_blank"
                                   class='fs-14 tit'>狗狗全身发抖</a>
                                <span class="time c888 fs-14">2018.07.11</span>
                            </div>
                        </div>
                        <div class="pic-txt">
                            <a href="//pet.pclady.com.cn/109/1095349.html" target="_blank" class="pic-area">
                                <img src="__STATIC__/index/img/1095349_ggt0036_1.jpg" alt="狗耳螨图片" width='120'>
                            </a>
                            <div class="txt-area">
                                <a href="//pet.pclady.com.cn/109/1095349.html" target="_blank"
                                   class='fs-14 tit'>狗耳螨图片</a>
                                <span class="time c888 fs-14">2018.07.11</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hasBorder specail mb-40">
                    <div class="c-Title mb-20">
                        <span>特别策划</span>
                    </div>
                    <div class="cont">
                        <div class="specail-pic slide-pic slide-btn1" isTitle="true" auto="true">
                            <div class="slide-wrap">
                                <a href="javascript:" class="prev" target="_self"></a>
                                <a href="javascript:" class="next" target="_self"></a>
                                <ul class="pics">
                                    <li>
                                        <a href="//www1.pclady.com.cn/beauty/aixinxianvol09pc/index.html"
                                           target="_blank"><img src="__STATIC__/index/img/355-230_1.jpg" width="310"
                                                                alt="秋季告别黑白灰，来做男神收割机"/></a>
                                    </li>
                                    <li>
                                        <a href="//beauty.pclady.com.cn/178/zt1781135.html" target="_blank"><img
                                                src="__STATIC__/index/img/355230_1_1.png" width="310"
                                                alt="妮维雅德国溯源之旅 寻找张钧甯与你我的蓝色铁罐记忆"/></a>
                                    </li>
                                    <li>
                                        <a href="//beauty.pclady.com.cn/177/zt1778176.html" target="_blank"><img
                                                src="__STATIC__/index/img/355230_2.png" width="310"
                                                alt="力士香氛洗手液定制专题：别再羡慕撩BOY发电机，手把手教你完美到指尖"/></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="circle-ctrl">
										<span class="circle-wrap">
<i class="item"></i> <i class="item"></i> <i class="item"></i> 
</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hasBorder freeTry mb-40">
                    <div class="c-Title mb-20"><span>免费试用</span></div>
                    <div class="freeTry-pic slide-pic slide-btn1" isTitle="true">

                        <div class="slide-wrap">
                            <div class="contentWrap"
                                 style="overflow:hidden; position: relative; zoom:1; width:100%; height:100%;">
                                <ul style="width: 1080px;">
                                    <li style="float: left;">
                                        <div class="free-list mb-20">
                                            <a href="https://try.pclady.com.cn/10797.html?ad=10319" class="free-pic">
                                                <img width="120" height="120"
                                                     src="https://img0.pclady.com.cn/pclady/try2011/1810/120-120.jpg"
                                                     alt="菲洛嘉柔润亮泽面膜"> </a>
                                            <div class="freeInfo">
                                                <a href="https://try.pclady.com.cn/10797.html?ad=10319" target="_blank"
                                                   class="free-tit mb-5 fs-14">菲洛嘉柔润亮泽面膜</a>
                                                <div class="time-count c888"> 10.22-11.05<br>数量：<i
                                                        class="purple">10份</i></div>
                                                <a href="https://try.pclady.com.cn/10797.html?ad=10319" target="_blank"
                                                   class="apply-btn fs-14">我要申请</a>
                                            </div>
                                        </div>
                                        <div class="free-list ">
                                            <a href="https://try.pclady.com.cn/10807.html?ad=10319" class="free-pic">
                                                <img width="120" height="120"
                                                     src="https://img0.pclady.com.cn/pclady/try2011/1810/120_1.jpg"
                                                     alt="薇弗葡萄籽强韧修护洗护套装"> </a>
                                            <div class="freeInfo">
                                                <a href="https://try.pclady.com.cn/10807.html?ad=10319" target="_blank"
                                                   class="free-tit mb-5 fs-14">薇弗葡萄籽强韧修护洗护套装</a>
                                                <div class="time-count c888"> 10.29-11.12<br>数量：<i
                                                        class="purple">10份</i></div>
                                                <a href="https://try.pclady.com.cn/10807.html?ad=10319" target="_blank"
                                                   class="apply-btn fs-14">我要申请</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li style="float: left;">
                                        <div class="free-list mb-20">
                                            <a href="https://try.pclady.com.cn/10777.html?ad=10319" class="free-pic">
                                                <img width="120" height="120"
                                                     src="https://img0.pclady.com.cn/pclady/try2011/1810/2341.png"
                                                     alt="兰希黎御雪透亮祛斑霜"> </a>
                                            <div class="freeInfo">
                                                <a href="https://try.pclady.com.cn/10777.html?ad=10319" target="_blank"
                                                   class="free-tit mb-5 fs-14">兰希黎御雪透亮祛斑霜</a>
                                                <div class="time-count c888"> 10.15-10.29<br>数量：<i
                                                        class="purple">30份</i></div>
                                                <a href="https://try.pclady.com.cn/10777.html?ad=10319" target="_blank"
                                                   class="apply-btn fs-14">我要申请</a>
                                            </div>
                                        </div>
                                        <div class="free-list ">
                                            <a href="https://try.pclady.com.cn/10757.html?ad=10319" class="free-pic">
                                                <img width="120" height="120"
                                                     src="https://img0.pclady.com.cn/pclady/try2011/1810/120.jpg"
                                                     alt="欧诗漫珍珠智慧水保湿面膜"> </a>
                                            <div class="freeInfo">
                                                <a href="https://try.pclady.com.cn/10757.html?ad=10319" target="_blank"
                                                   class="free-tit mb-5 fs-14">欧诗漫珍珠智慧水保湿面膜</a>
                                                <div class="time-count c888"> 10.09-10.22<br>数量：<i
                                                        class="purple">30份</i></div>
                                                <a href="https://try.pclady.com.cn/10757.html?ad=10319" target="_blank"
                                                   class="apply-btn fs-14">我要申请</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="circle-ctrl">
									<span class="circle-wrap">
								<i class="item"></i>
								<i class="item"></i>
								</span>
                        </div>
                    </div>

                </div>
                <div class="hasBorder mdxy mb-40 mdxy2">
                    <div class="c-Title mb-20">
                        <a href="//my.pclady.com.cn/" target="_blank"><span>Q宠小课堂</span></a>
                    </div>
                    <div class="pics mb-15">
                        <ul class="clearfix">
                            <li>
                                <a href="https://my.pclady.com.cn/a/z-777113.html?ad=10207" class="aniTit little">
                                    <img width="270" height="200" src="__STATIC__/index/img/270_3_1.jpg" alt="值得推荐的美妆好物">
                                    <span class="title-alpha fs-16">值得推荐的美妆好物</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="txt-list">
                        <ul>
                            <li>
                                <a href="https://my.pclady.com.cn/a/z-776703.html?ad=10207" target="_blank">初秋护肤红黑榜</a>
                            </li>
                            <li>
                                <a href="https://my.pclady.com.cn/a/z-776305.html?ad=10207" target="_blank">国货美妆品大盘点</a>
                            </li>
                            <li>
                                <a href="https://my.pclady.com.cn/a/z-772553.html?ad=10207" target="_blank">美妆明星单品种草
                                    总有你的菜</a>
                            </li>
                            <li>
                                <a href="https://my.pclady.com.cn/a/z-770670.html?ad=10207"
                                   target="_blank">可甜可咸的干玫瑰妆容</a>
                            </li>
                            <li>
                                <a href="https://my.pclady.com.cn/a/z-769606.html?ad=10207" target="_blank">香港吃喝玩乐指南
                                    另附省钱攻略</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--热门宠物-->
                <div class="hasBorder hotPet">
                    <div class="c-Title mb-20"><span>合作媒体</span></div>
                    <div class="cont">
                        <ul class="pics pics-w140">
                            <li>
                                <a href="//pet.pclady.com.cn/petall/jinmao/" class="blk-img">
                                    <img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=883774726,277511516&fm=58"
                                         width="140" height="105" alt=""/>
                                    <span class="title">--公司</span>
                                </a>
                            </li>
                            <li>
                                <a href="//pet.pclady.com.cn/petall/buou/" class="blk-img">
                                    <img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=3459501622,2772742065&fm=58"
                                         width="140" height="105" alt=""/>
                                    <span class="title">--科技</span>
                                </a>
                            </li>
                        </ul>
                        <div class="pet-list">
                            <dl class="clearfix">
                                <!--<dt><i class="dog"></i>狗狗</dt>-->
                                <dd>
                                    <a href="//pet.pclady.com.cn/petall/dabaixiong/">友情链接</a>
                                    <a href="//pet.pclady.com.cn/petall/dabaixiong/">友情链接</a>
                                    <a href="//pet.pclady.com.cn/petall/dabaixiong/">友情链接</a>
                                    <!--<a href="//pet.pclady.com.cn/dog/" class="gray">MORE>></a>-->
                                </dd>
                            </dl>
                            <!--<dl class="clearfix">
                                <dt><i class="cat"></i>猫猫</dt>
                                <dd>
                                    <a href="//pet.pclady.com.cn/petall/bosi/">波斯猫</a>
                                    <a href="//pet.pclady.com.cn/petall/xianluo/">暹罗猫</a>
                                    <a href="//pet.pclady.com.cn/petall/zheer/">折耳猫</a>
                                    <a href="//pet.pclady.com.cn/petall/jinjila/">金吉拉猫</a>
                                    <a href="//pet.pclady.com.cn/petall/yingduan/">英国短毛猫</a>
                                    <a href="//pet.pclady.com.cn/petall/meiduan/">美国短毛猫</a>
                                    <a href="//pet.pclady.com.cn/cat/" class="gray">MORE>></a>
                                </dd>
                            </dl>
                            <dl class="clearfix">
                                <dt><i class="dPet"></i>小宠</dt>
                                <dd>
                                    <a href="//pet.pclady.com.cn/petall/minichuiertu/">垂耳兔</a>
                                    <a href="//pet.pclady.com.cn/petall/cangshu/">仓鼠</a>
                                    <a href="//pet.pclady.com.cn/petall/tunshu/">豚鼠</a>
                                    <a href="//pet.pclady.com.cn/petall/songshu/">松鼠</a>
                                    <a href="//pet.pclady.com.cn/petall/luohanyu/">罗汉鱼</a>
                                    <a href="//pet.pclady.com.cn/petall/hupiyingwu/">虎皮鹦鹉</a>
                                    <a href="//pet.pclady.com.cn/other/" class="gray">MORE>></a>
                                </dd>
                            </dl>-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- SII配置 End -->
            <!-- 广告后出位置 -->
            <div class="col-ab" id="artExt">
                <div class="jpReduce mt-60">
                    <div class="jpTit col-ab-tit">
                        <span>精品推荐</span>
                    </div>
                    <div class="jpList">
                        <ul class="pics">
                            <li>
                                <a href="//photo.pclady.com.cn/pic/77154.html#ad=10300" class="aniTit little">
                                    <img src="static/images/adaymag-animal-.jpg" src="" alt="" width='230'/>
                                    <span class="title-alpha">令人深陷其中的「屁屁」疗愈效果！</span>
                                </a>
                            </li>
                            <li>
                                <a href="//photo.pclady.com.cn/pic/77153.html#ad=10300" class="aniTit little">
                                    <img src="static/images/adaymag-animal-.jpg" src="" alt="" width='230'/>
                                    <span class="title-alpha">关于日本猫咪才拥有的特殊能</span>
                                </a>
                            </li>
                            <li>
                                <a href="//photo.pclady.com.cn/pic/77151.html#ad=10300" class="aniTit little">
                                    <img src="static/images/adaymag-animal-.jpg" src="" alt="" width='230'/>
                                    <span class="title-alpha">6个居家Tips让小公寓中的喵喵拥有</span>
                                </a>
                            </li>
                            <li>
                                <a href="//photo.pclady.com.cn/pic/77150.html#ad=10300" class="aniTit little">
                                    <img src="static/images/adaymag-animal-.jpg" src="" alt="" width='230'/>
                                    <span class="title-alpha">俄罗斯恋人的森林婚礼，竟然请来「</span>
                                </a>
                            </li>
                            <li>
                                <a href="//photo.pclady.com.cn/pic/77103.html#ad=10300" class="aniTit little">
                                    <img src="static/images/adaymag-animal-.jpg" src="" alt="" width='230'/>
                                    <span class="title-alpha">带着宠物一起来一场露营之旅吧</span>
                                </a>
                            </li>
                            <li id="infoVideo">
                                <a href="//photo.pclady.com.cn/pic/77102.html#ad=10300" class="aniTit little">
                                    <img src="static/images/adaymag-animal-.jpg" src="" alt="" width='230'/>
                                    <span class="title-alpha">令猫奴们疯狂的7款「地标纸板猫屋</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="ivy780 ivy-tonglan">
                </div>
                <div class="modGroup modGroupPclady" id="modGroup" style="margin-top:40px"></div>
            </div>
        </div>
        <!-- 百科知识板块 -->
        <div class="area links" id="links">
            <div class="main">
                <div class="tbA">
                    <div class="main">
                        <div class="tab-nav pro-nav">
                            <div class="control clearfix">
										<span class="mark">
<i class="item current"><a href="javascript:;">热点标签</a></i>
<i class="item"><a href="javascript:;">宠物百科</a></i>
<i class="item"><a href="javascript:;">宠物知识</a></i>
</span>
                            </div>
                            <div class="tab-wrap">
                                <div class="tab-inner">
                                    <div class="pannel">
                                        <a href="//pet.pclady.com.cn/baike/" target="_blank">宠物</a>
                                        <a href="//pet.pclady.com.cn/baike/cwdy/csly/" target="_blank">仓鼠乐园</a>
                                        <a href="//pet.pclady.com.cn/baike/cwdy/dwdy/" target="_blank">动物电影</a>
                                        <a href="//pet.pclady.com.cn/baike/cwdy/dwzz/" target="_blank">动物之最</a>
                                        <a href="//pet.pclady.com.cn/baike/cwdy/tbg/" target="_blank">兔八哥</a>
                                        <a href="//pet.pclady.com.cn/baike/cwdy/zady/" target="_blank">藏獒电影</a>
                                        <a href="//pet.pclady.com.cn/baike/cws/" target="_blank">宠物鼠</a>
                                        <a href="//pet.pclady.com.cn/baike/cws/longmao/" target="_blank">龙猫</a>
                                        <a href="//pet.pclady.com.cn/baike/cwt/" target="_blank">宠物兔</a>
                                        <a href="//pet.pclady.com.cn/baike/ggmr/" target="_blank">狗狗美容</a>
                                        <a href="//pet.pclady.com.cn/baike/ggmr/gxz/" target="_blank">狗洗澡</a>
                                        <a href="//pet.pclady.com.cn/baike/ggsy/gjp/" target="_blank">狗交配</a>
                                        <a href="//pet.pclady.com.cn/baike/ggsy/gpfb/" target="_blank">狗皮肤病</a>
                                        <a href="//pet.pclady.com.cn/baike/ggsy/gqb/" target="_blank">狂犬病</a>
                                        <a href="//pet.pclady.com.cn/baike/ggsy/gw/" target="_blank">狗瘟</a>
                                        <a href="//pet.pclady.com.cn/baike/ggsy/qwr/" target="_blank">犬瘟热</a>
                                        <a href="//pet.pclady.com.cn/baike/ggsy/xxbd/" target="_blank">细小病毒</a>
                                        <a href="//pet.pclady.com.cn/baike/ggxg/bjqs/" target="_blank">北京犬舍</a>
                                        <a href="//pet.pclady.com.cn/baike/ggxg/cbq/" target="_blank">茶杯犬</a>
                                        <a href="//pet.pclady.com.cn/baike/ggxg/cwg/" target="_blank">宠物狗</a>
                                        <a href="//pet.pclady.com.cn/baike/ggxg/cwgjg/" target="_blank">宠物狗价格</a>
                                        <a href="//pet.pclady.com.cn/baike/ggxg/cwgzl/" target="_blank">宠物狗种类</a>
                                        <a href="//pet.pclady.com.cn/baike/ggxg/dxq/" target="_blank">大型犬</a>
                                        <a href="//pet.pclady.com.cn/baike/ggxg/ggpz/" target="_blank">狗狗品种</a>
                                        <a href="//pet.pclady.com.cn/baike/ggxg/ggtp/" target="_blank">狗狗图片</a>
                                        <a href="//pet.pclady.com.cn/baike/ggxg/gq/" target="_blank">梗犬</a>
                                        <a href="//pet.pclady.com.cn/baike/ggxg/mengquan/" target="_blank">猛犬</a>
                                        <a href="//pet.pclady.com.cn/baike/ggxg/mg/" target="_blank">买狗</a>
                                        <a href="//pet.pclady.com.cn/baike/ggxg/myq/" target="_blank">牧羊犬</a>
                                        <a href="//pet.pclady.com.cn/baike/ggxg/quanshe/" target="_blank">犬舍</a>
                                        <a href="//pet.pclady.com.cn/petall/lanlvmao/" target="_blank">褴褛猫</a>
                                        <a href="//pet.pclady.com.cn/petall/liehugeng/" target="_blank">猎狐梗</a>
                                        <a href="//pet.pclady.com.cn/petall/liehuquan/" target="_blank">猎狐犬</a>
                                        <a href="pet.pclady.com.cn/cat/" target="_blank">猫</a>
                                        <a href="//pet.pclady.com.cn/baike/sz/szx/" target="_blank">水族箱</a>
                                        <a href="//www.pclady.com.cn/wiki/g3t30863/" target="_blank">黄瓜鸡蛋汤大全</a>
                                        <a href="//www.pclady.com.cn/wiki/g3t30880/" target="_blank">辣椒炒鸡蛋大全</a>
                                        <a href="//www.pclady.com.cn/wiki/g3t30820/" target="_blank">最顶级红烧牛腩</a>
                                        <a href="//www.pclady.com.cn/wiki/g3t30778/" target="_blank">川菜家常菜大全</a>
                                        <a href="//www.pclady.com.cn/wiki/g3t30779/" target="_blank">春节东北家常菜</a>
                                        <a href="//www.pclady.com.cn/wiki/g3t30780/" target="_blank">打卤面家常做法</a>
                                        <a href="//www.pclady.com.cn/wiki/g3t30785/" target="_blank">东北家常红烧肉</a>
                                        <a href="//www.pclady.com.cn/wiki/g3t30786/" target="_blank">东北简单家常菜</a>
                                        <a href="//www.pclady.com.cn/wiki/g3t30801/" target="_blank">简单广东家常菜</a>
                                        <a href="//www.pclady.com.cn/wiki/g3t30724/" target="_blank">最简单虎皮尖椒</a>
                                    </div>
                                    <div class="pannel">
                                        <ul>
                                            <li>
                                                <a href="//pet.pclady.com.cn/98/984565.html">宠物猫猫饲养时的注意事项</a>
                                            </li>
                                            <li>
                                                <a href="//pet.pclady.com.cn/98/984560.html">宠物猫猫耳螨虫病症状诊断</a>
                                            </li>
                                            <li>
                                                <a href="//pet.pclady.com.cn/98/984557.html">宠物猫猫饮水要注意的方面</a>
                                            </li>
                                            <li>
                                                <a href="//pet.pclady.com.cn/98/984554.html">宠物猫猫老年期的护理方法</a>
                                            </li>
                                            <li>
                                                <a href="//pet.pclady.com.cn/98/984545.html">宠物猫护理新贵“宠沐宝”</a>
                                            </li>
                                            <li>
                                                <a href="//pet.pclady.com.cn/98/984539.html">给宠物猫猫自制食物要注意</a>
                                            </li>
                                            <li>
                                                <a href="//pet.pclady.com.cn/98/984536.html">猫主必知宠物猫的膳食讲究</a>
                                            </li>
                                            <li>
                                                <a href="//pet.pclady.com.cn/98/983272.html">宠物猫猫消瘦的三牙齿问题</a>
                                            </li>
                                            <li>
                                                <a href="//pet.pclady.com.cn/98/983266.html">对宠物猫猫有害的物质解读</a>
                                            </li>
                                            <li>
                                                <a href="//pet.pclady.com.cn/98/983263.html">训练宠物猫减少对家的破坏</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="pannel">
                                        <a href="//www.pclady.com.cn/wiki/g4z4657.html">水滴鱼为什么不能吃</a>
                                        <a href="//www.pclady.com.cn/wiki/g4z4597.html">水滴鱼</a>
                                        <a href="//www.pclady.com.cn/wiki/g5z5152.html">水滴鱼获选</a>
                                        <a href="//www.pclady.com.cn/wiki/g5z5123.html">世界最丑动物水滴鱼</a>
                                        <a href="//www.pclady.com.cn/wiki/g5z5164.html">水滴鱼 大全</a>
                                        <a href="//www.pclady.com.cn/wiki/g4z4631.html">水滴鱼怎么还有鼻子</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="__STATIC__/index/js/lib-jquery1.10.2,dpl-jquery.slide.js"></script>
<script src="__STATIC__/index/js/art.js"></script>
</body>

</html>