<!DOCTYPE html>
<html lang="zh">
<head>
		<meta name="apple-mobile-web-app-title" content="Chewy.com">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="description" content="{:sysconf('web_desc')}" />
		<meta name="keywords" content="{:sysconf('web_keys')}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="/static/index/css/main.28a01aac1aabbabda00d.css">
		
	<style>
		.chongwu-con{width: 65%;margin: 0 auto;padding-top: 50px;padding-bottom: 18%;}
		.chongwu-con p{line-height: 50px;font-size: 18px;}
		@media screen and (max-width: 1024px){
			.chongwu-con{width: 66%;}
			.container{width: 83% !important;}
		}

		@media screen and (max-width: 650px){
		.cw-logo img {
		     margin-left: 0% !important; 
		}
		.chongwu-con{width: 66%;}
		.footer-copyright__container__rx{width: 53%;}
		}
	</style>
</head>
<body>
	{include file="public/header" /}
	<div class="chongwu-con">
		<h1>联系我们</h1>
		<p>商务合作：keepaa@qq.com</p>
		<p>在线企业QQ：136666550</p>
		<!--<p>客服电话：</p>-->
		<p>邮编：610000</p>
		<p>联系地址：成都市高新区天府大道北段966号4栋1单元1层40116号</p>
	</div>
	{include file="public/foot" /}
</body>
</html>