{extend name='admin@public/content'}

{block name="content"}
<form autocomplete="off" class="layui-form layui-box modal-form-box" action="{:request()->url()}" data-auto="true" method="post" id="ProductForm">

    <div class="layui-form-item">
        <label class="layui-form-label">上级分类</label>
        <div class="layui-input-block">
            <select name='pid' class='layui-select full-width' lay-ignore>
                <!--{foreach $menus as $menu}-->
                <!--{eq name='menu.id' value='$vo.pid|default=0'}-->
                <option selected value='{$menu.id}'>{$menu.spl|raw}{$menu.title}</option>
                <!--{else}-->
                <option value='{$menu.id}'>{$menu.spl|raw}{$menu.title}</option>
                <!--{/eq}-->
                <!--{/foreach}-->
            </select>
            <p class="help-block color-desc"><b>必填</b>，请选择上级分类或顶级分类（目前最多支持三级分类）</p>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">分类名称</label>
        <div class="layui-input-block">
            <input type="text" name="title" value='{$vo.title|default=""}' required="required" title="请输入分类名称" placeholder="请输入分类名称" class="layui-input">
            <p class="help-block color-desc"><b>必填</b>，请填写分类名称（如：系统管理），建议字符不要太长，一般4-6个汉字</p>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">分类链接</label>
        <div class="layui-input-block">
            <input type="text" onblur="(this.value === '') && (this.value = '#')" name="url" autocomplete="off" required="required" title="请输入分类链接" placeholder="请输入分类链接" value="{$vo.url|default='#'}" class="layui-input typeahead">
            <p class="help-block color-desc">
            </p>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">分类描述</label>
        <div class='col-sm-8'>
            <textarea class="layui-textarea" name="art_desc" placeholder="请输入展示描述">{$vo.art_desc|default=''}</textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">商品图片</label>
        <div class="layui-input-block">
            <table class="layui-table background-item margin-none" lay-size="sm" lay-skin="nob">
                <thead>

                </thead>
                <tbody>
                <tr>
                    <td class="text-top" style="width:100px">
                        <input type="hidden" name="icon" value="{$vo.icon|default=''}">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        {if isset($vo['id'])}<input type='hidden' value='{$vo.id}' name='id'>{/if}
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
    <script>
        require(['bootstrap.typeahead'], function () {
            var subjects = JSON.parse('{$nodes|raw|json_encode}');
            $('.typeahead').typeahead({source: subjects, items: 5});
        });
    </script>
    <script>
        require(['jquery', 'ckeditor', 'angular'], function () {
            window.form.render();
            var app = angular.module("ProductForm", []).run(callback);
            angular.bootstrap(document.getElementById(app.name), [app.name]);

            function callback($rootScope) {
                // 绑定规格列表
                $rootScope.specs = [];
                // 规格默认数据
                var specdata = JSON.parse('{$vo.list|default=[]|json_encode=###,256|raw}');
                // 单图片上传处理
                $('#ProductForm [name="icon"]').uploadOneImage();
            }
        });
    </script>
</form>
{/block}