img {
	border: none
}

.tooltip {
	position: absolute;
	z-index: 1070;
	display: block;
	visibility: visible;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.4;
	opacity: 0;
	filter: alpha(opacity=0)
}

.tooltip.in {
	opacity: .9;
	filter: alpha(opacity=90)
}

.tooltip.top {
	margin-top: -3px;
	padding: 5px 0
}

.tooltip.right {
	margin-left: 3px;
	padding: 0 5px
}

.tooltip.bottom {
	margin-top: 3px;
	padding: 5px 0
}

.tooltip.left {
	margin-left: -3px;
	padding: 0 5px
}

.tooltip-inner {
	max-width: 200px;
	padding: 3px 8px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background-color: #000;
	border-radius: 4px
}

.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid
}

.tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000
}

.tooltip.top-left .tooltip-arrow {
	right: 5px
}

.tooltip.top-left .tooltip-arrow,
.tooltip.top-right .tooltip-arrow {
	bottom: 0;
	margin-bottom: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000
}

.tooltip.top-right .tooltip-arrow {
	left: 5px
}

.tooltip.right .tooltip-arrow {
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-width: 5px 5px 5px 0;
	border-right-color: #000
}

.tooltip.left .tooltip-arrow {
	top: 50%;
	right: 0;
	margin-top: -5px;
	border-width: 5px 0 5px 5px;
	border-left-color: #000
}

.tooltip.bottom .tooltip-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000
}

.tooltip.bottom-left .tooltip-arrow {
	top: 0;
	right: 5px;
	margin-top: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000
}

.tooltip.bottom-right .tooltip-arrow {
	top: 0;
	left: 5px;
	margin-top: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000
}

.popover {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1060;
	display: none;
	max-width: 276px;
	padding: 1px;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857;
	text-align: left;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 6px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	white-space: normal
}

.popover.top {
	margin-top: -10px
}

.popover.right {
	margin-left: 10px
}

.popover.bottom {
	margin-top: 10px
}

.popover.left {
	margin-left: -10px
}

.popover-title {
	margin: 0;
	padding: 8px 14px;
	font-size: 14px;
	background-color: #f7f7f7;
	border-bottom: 1px solid #ebebeb;
	border-radius: 5px 5px 0 0
}

.popover-content {
	padding: 9px 14px
}

.popover>.arrow,
.popover>.arrow:after {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid
}

.popover>.arrow {
	border-width: 11px
}

.popover>.arrow:after {
	border-width: 10px;
	content: ""
}

.popover.top>.arrow {
	left: 50%;
	margin-left: -11px;
	border-bottom-width: 0;
	border-top-color: rgba(0, 0, 0, .25);
	bottom: -11px
}

.popover.top>.arrow:after {
	content: " ";
	bottom: 1px;
	margin-left: -10px;
	border-bottom-width: 0;
	border-top-color: #fff
}

.popover.right>.arrow {
	top: 50%;
	left: -11px;
	margin-top: -11px;
	border-left-width: 0;
	border-right-color: rgba(0, 0, 0, .25)
}

.popover.right>.arrow:after {
	content: " ";
	left: 1px;
	bottom: -10px;
	border-left-width: 0;
	border-right-color: #fff
}

.popover.bottom>.arrow {
	left: 50%;
	margin-left: -11px;
	border-top-width: 0;
	border-bottom-color: rgba(0, 0, 0, .25);
	top: -11px
}

.popover.bottom>.arrow:after {
	content: " ";
	top: 1px;
	margin-left: -10px;
	border-top-width: 0;
	border-bottom-color: #fff
}

.popover.left>.arrow {
	top: 50%;
	right: -11px;
	margin-top: -11px;
	border-right-width: 0;
	border-left-color: rgba(0, 0, 0, .25)
}

.popover.left>.arrow:after {
	content: " ";
	right: 1px;
	border-right-width: 0;
	border-left-color: #fff;
	bottom: -10px
}

.cw-desktop .popover,
.cw-mobile .popover {
	max-width: 300px
}

.cw-desktop .popover-content,
.cw-mobile .popover-content {
	max-height: 250px;
	overflow-y: auto
}

@-webkit-keyframes shippingProgressBar {
	0% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%)
	}
	to {
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}
}

@keyframes shippingProgressBar {
	0% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%)
	}
	to {
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}
}

.shipcount {
	position: relative;
	font-size: 10px
}

.shipcount__info {
	font-size: 1.6rem;
	text-align: center;
	color: #333;
	padding-bottom: .8rem
}

.shipcount__info:after {
	content: "";
	background: url(../fonts/icon-truck-dark.svg) no-repeat;
	background-size: 25px;
	display: inline-block;
	height: 22px;
	width: 30px;
	vertical-align: -9px
}

.shipcount__bg {
	background-color: rgba(0, 0, 0, .1);
	height: 8px;
	border-radius: 3px;
	overflow: hidden;
	position: relative
}

.shipcount__bg__line {
	width: 1px;
	height: 8px;
	display: block;
	background-color: #f9f9f9;
	position: absolute;
	top: 0
}

.shipcount__bg__line:first-child {
	left: 20%
}

.shipcount__bg__line:nth-child(2) {
	left: 40%
}

.shipcount__bg__line:nth-child(3) {
	left: 60%
}

.shipcount__bg__line:nth-child(4) {
	left: 80%
}

.shipcount__fill {
	height: 8px;
	display: block;
	border-radius: 3px;
	-webkit-animation: shippingProgressBar 1.25s 1;
	animation: shippingProgressBar 1.25s 1
}

.shipcount__fill--progress {
	background: #4caf50
}

.shipcount__fill--full {
	width: 100%;
	background: #4caf50
}

.shipcount__fill--full.shipcount__fill {
	-webkit-animation: none;
	animation: none
}

.bd-cart * {
	box-sizing: border-box
}

.bd-cart .main-content {
	display: block
}

.bd-cart .main-content .container {
	font-family: Roboto, sans-serif;
	font-size: 10px;
	-webkit-font-smoothing: antialiased
}

body.cart-empty {
	background-color: #fff
}

body.cart-empty .cart-header {
	padding-top: 60px
}

body.cart-empty .cart-header h1 {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	font-size: 3.5em
}

body.cart-empty div.center {
	margin-bottom: 120px
}

body.cart-full {
	background-color: #fcfcfc
}

body.cart-full .cart-header {
	padding-top: 40px
}

body.cart-full .cart-header h1 {
	font-size: 3.5em;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 30px
}

.cart-empty main .center p {
	font-size: 1.8em;
	padding: 15px 0;
	width: 50%;
	margin: auto
}

.cart-empty main .box {
	display: block;
	height: 233px;
	margin-left: 20px;
	background: url(../img/cart-box.jpg) 50% no-repeat
}

@media only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min--moz-device-pixel-ratio:2),
only screen and (min-device-pixel-ratio:2),
only screen and (min-resolution:2dppx),
only screen and (min-resolution:192dpi) {
	.cart-empty main .box {
		background: url(../img/cart-box-@x2.jpg) 50%/auto 233px no-repeat
	}
}

#cart {
	*zoom: 1;
	position: relative
}

#cart:after,
#cart:before {
	content: "";
	display: table
}

#cart:after {
	clear: both
}

#cart .cart-left {
	/*padding-right: 20px;
	margin-right: 300px*/
	float: left;
}

#cart .cart-right {
	float: right;
	width: 30%
}

#cart .cart-right .cw-card {
	transition: all 0s linear;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	width: 300px
}

#cart .cart-right .cw-card.is-fixed {
	position: fixed;
	top: 65px
}

@media (max-width:970px) {
	#cart .cart-right .cw-card.is-fixed {
		top: 85px
	}
}

.ie-8 #cart .cart-right .cw-card.is-fixed {
	top: 20px
}

#cart .cart-right .cw-card.is-absolute {
	position: absolute;
	bottom: 0;
	right: 0
}

#cart .cart-right .shipcount {
	margin-bottom: 2.4rem
}

@media (max-width:970px) {
	#cart .cart-left {
		margin-right: 280px
	}
	#cart .cart-right {
		width: 280px
	}
	#cart .cart-right .cw-card {
		width: 100%;
		padding: 15px 15px 0
	}
	#cart .cart-right--reduced .cw-card {
		padding-right: .8rem;
		padding-left: .8rem
	}
}

.cart-left ul {
	margin-top: 0;
	margin-bottom: 0;
	padding-right: 0;
	padding-left: 0;
	list-style-type: none
}

.cart-left ul li {
	margin: 0;
	position: relative;
	padding: 30px 20px;
	border-bottom: 1px solid #eee;
	min-height: 140px
}

.cart-left ul li:last-child {
	border-bottom: none
}

.cart-left ul li .price {
	color: #d0021b;
	font-weight: 600;
	font-size: 1.8em;
	display: block
}

@media (max-width:1024px) {
	.cart-left ul li .price {
		float: none
	}
}

.cart-left ul li .price .original {
	text-decoration: line-through
}

.cart-left ul li .price--free {
	color: #4caf50
}

.cart-left ul li .featured-promotion,
.cart-left ul li .public-promotion {
	border-top: 1px solid #eee;
	padding: 15px 0 0;
	margin-top: 10px;
	font-size: 1.3em;
	line-height: 1.7;
	color: #555;
	position: relative
}

@media (max-width:1024px) {
	.cart-left ul li .featured-promotion,
	.cart-left ul li .public-promotion {
		border-left: none;
		padding-left: 0;
		margin-left: 0
	}
}

.cart-left ul li .featured-promotion .cw-badge,
.cart-left ul li .featured-promotion p,
.cart-left ul li .public-promotion .cw-badge,
.cart-left ul li .public-promotion p {
	margin: 0 0 10px;
	display: block
}

.cart-left ul li .featured-promotion .red,
.cart-left ul li .public-promotion .red {
	font-weight: 600;
	color: #d0021b
}

@media (max-width:799px) {
	.cart-left ul li .featured-promotion .red,
	.cart-left ul li .public-promotion .red {
		display: block
	}
}

.cart-left ul li .featured-promotion .ans-logo-label,
.cart-left ul li .public-promotion .ans-logo-label {
	background: url(../img/icon-ans-arrows.png) no-repeat 2px 0;
	padding-left: 20px;
	background-size: 16px
}

.cart-left ul li .featured-promotion .savings-promo,
.cart-left ul li .public-promotion .savings-promo {
	padding: 2px 5px 3px;
	font-size: 1em;
	margin-top: 2px;
	position: absolute;
	top: 3px;
	left: 0
}

.cart-left ul li .featured-promotion .savings-promo--text,
.cart-left ul li .public-promotion .savings-promo--text {
	padding: 8px 0 0 23px;
	line-height: 1.1;
	position: relative
}

.cart-left ul li .featured-promotion .customizable-product__details,
.cart-left ul li .public-promotion .customizable-product__details {
	display: inline-block;
	vertical-align: top
}

.cart-left ul li .featured-promotion .customizable-product__details>p,
.cart-left ul li .public-promotion .customizable-product__details>p {
	margin-top: 0;
	margin-bottom: .8rem;
	vertical-align: top
}

@media (min-width:980px) {
	.cart-left ul li .featured-promotion .customizable-product__details>p,
	.cart-left ul li .public-promotion .customizable-product__details>p {
		margin-bottom: 0
	}
}

.cart-left ul li .in-stock {
	display: none
}

.cart-left ul li .available {
	font-size: 1.4em;
	color: #4caf50
}

.cart-left ul li .unavailable {
	font-size: 1.4em;
	color: #d0021b
}

.cart-left ul li.re-add {
	padding: 30px 20px;
	background-color: #f5f5f5;
	font-size: 1.6em
}

.cart-left ul li.re-add p {
	margin: 0 120px 0 0
}

.cart-left ul li.re-add a {
	float: right
}

@media (max-width:970px) {
	.cart-left ul li {
		padding: 30px 10px
	}
	.cart-left ul li .quantity {
		width: 85px
	}
	.cart-left ul li .item {
		margin: 0 0px 0 85px
	}
}

.cart-left .thumbnail {
	float: left;
	width: 80px
}

.cart-left .thumbnail a {
	display: block
}

.cart-left .thumbnail a img {
	max-width: 100%
}

.cart-left .quantity {
	float: right;
	width: 100px
}

.cart-left .quantity .remove {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 15px;
	height: 15px;
	text-indent: -9999px;
	opacity: .6;
	background: url(../img/icon-delete-search.svg) 50% no-repeat;
	background-size: 15px
}

.cart-left .quantity .remove:hover {
	opacity: 1
}

.cart-left .quantity .update {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: block;
	width: 80px;
	padding-top: 10px;
	border: none;
	outline: none;
	background: none;
	color: #128ced;
	font-size: 1.3em;
	text-align: center;
	cursor: pointer
}

.cart-left .quantity .update:hover {
	text-decoration: underline
}

.cart-left .quantity .amount {
	width: 80px;
	font-size: 2em;
	padding: 10px;
	background: #fff;
	border: 1px solid #ddd;
	outline: none;
	text-align: center;
	border-radius: 3px
}

.cart-left .quantity .amount:hover {
	border-color: #ccc
}

.cart-left .quantity .amount:focus {
	border-color: #128ced;
	box-shadow: none
}

.cart-left .quantity .free-gift {
	display: block;
	overflow: hidden;
	text-align: center;
	color: #4caf50;
	font-size: 16px;
	font-weight: 700;
	margin: -2px -8px 0 0
}

.cart-left .quantity .free-gift span {
	font-size: 24px
}

.cart-left .item {
	margin: 0 130px 0 120px
}

.cart-left .item .name,
.cart-left .item .rx-content {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 1.6em
}

.cart-left .item .name,
.cart-left .item .name a,
.cart-left .item .rx-content,
.cart-left .item .rx-content a {
	color: #555
}

.cart-left .sku {
	display: none
}

.cart-left .popover-trigger:after {
	top: 5px
}

.cart-right .cw-card {
	padding: 25px 25px 5px
}

.cart-right .cw-card p {
	font-size: 1.6em;
	font-weight: 600;
	margin: 0;
	padding: 20px 10px
}

.cart-right .cw-card p span {
	float: right;
	color: #d0021b;
	font-size: 18px
}

.cart-right .cw-card hr {
	margin: 0;
	border: none;
	height: 1px;
	background-color: #ddd
}

.cart-right .cw-card .btn-orange {
	white-space: inherit;
	padding: 15px
}

.cart-right--reduced .cw-card {
	padding-right: 1.6rem;
	padding-left: 1.6rem
}

.recommendations {
	*zoom: 1
}

.recommendations:after,
.recommendations:before {
	content: "";
	display: table
}

.recommendations:after {
	clear: both
}

.recommendations--cart {
	margin: 60px 0
}

.recommendations h3 {
	color: #4caf50;
	font-weight: 500;
	padding-bottom: 20px
}

.recommendations ol li {
	width: 33.33333%;
	float: left;
	padding-right: 40px
}

.recommendations ol li a {
	display: block;
	overflow: hidden;
	color: #555;
	background: none;
	box-shadow: none;
	border: none
}

.recommendations ol li .image {
	width: 90px;
	float: left;
	margin-right: 20px;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 3px
}

.recommendations ol li .image img {
	max-width: 100%
}

.recommendations ol li .product {
	margin-left: 100px;
	font-size: 1.6em;
	color: #555;
	padding-bottom: 7px
}

.recommendations ol li .price {
	color: #d0021b;
	font-weight: 600;
	font-size: 1.6em;
	float: left
}

.recommendations ol li .rating {
	float: left;
	color: #555;
	font-size: 1.4em
}

.recommendations ol li .rating img {
	margin: 5px 3px 0 10px;
	float: left;
	height: 12px
}

.recommendations ol li:last-child {
	padding-right: 0
}

@media (max-width:970px) {
	.recommendations ol li .image {
		float: none
	}
	.recommendations ol li .product {
		margin-left: 0
	}
}

.recommendations li a:hover {
	border-color: none;
	box-shadow: none;
	text-decoration: none
}

.recommendations li a:hover .product {
	color: #128ced
}

.promotion-details {
	display: inline-block;
	font-size: 1.4em;
	margin-left: 8px
}