<div class="hasBorder hotPet">
    <div class="c-Title mb-20"><span>合作媒体</span></div>
    <div class="cont">
        <ul class="pics pics-w140">
            <li>
                <a href="//pet.pclady.com.cn/petall/jinmao/" class="blk-img">
                    <img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=883774726,277511516&fm=58"
                         width="140" height="105" alt=""/>
                    <span class="title">--公司</span>
                </a>
            </li>
            <li>
                <a href="//pet.pclady.com.cn/petall/buou/" class="blk-img">
                    <img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=3459501622,2772742065&fm=58"
                         width="140" height="105" alt=""/>
                    <span class="title">--科技</span>
                </a>
            </li>
        </ul>
        <div class="pet-list">
            <dl class="clearfix">
                <!--<dt><i class="dog"></i>狗狗</dt>-->
                <dd>
                    <a href="//pet.pclady.com.cn/petall/dabaixiong/">友情链接</a>
                    <a href="//pet.pclady.com.cn/petall/dabaixiong/">友情链接</a>
                    <a href="//pet.pclady.com.cn/petall/dabaixiong/">友情链接</a>
                    <!--<a href="//pet.pclady.com.cn/dog/" class="gray">MORE>></a>-->
                </dd>
            </dl>
            <!--<dl class="clearfix">
                        <dt><i class="cat"></i>猫猫</dt>
                        <dd>
                            <a href="//pet.pclady.com.cn/petall/bosi/">波斯猫</a>
                            <a href="//pet.pclady.com.cn/petall/xianluo/">暹罗猫</a>
                            <a href="//pet.pclady.com.cn/petall/zheer/">折耳猫</a>
                            <a href="//pet.pclady.com.cn/petall/jinjila/">金吉拉猫</a>
                            <a href="//pet.pclady.com.cn/petall/yingduan/">英国短毛猫</a>
                            <a href="//pet.pclady.com.cn/petall/meiduan/">美国短毛猫</a>
                            <a href="//pet.pclady.com.cn/cat/" class="gray">MORE>></a>
                        </dd>
                    </dl>
                    <dl class="clearfix">
                        <dt><i class="dPet"></i>小宠</dt>
                        <dd>
                            <a href="//pet.pclady.com.cn/petall/minichuiertu/">垂耳兔</a>
                            <a href="//pet.pclady.com.cn/petall/cangshu/">仓鼠</a>
                            <a href="//pet.pclady.com.cn/petall/tunshu/">豚鼠</a>
                            <a href="//pet.pclady.com.cn/petall/songshu/">松鼠</a>
                            <a href="//pet.pclady.com.cn/petall/luohanyu/">罗汉鱼</a>
                            <a href="//pet.pclady.com.cn/petall/hupiyingwu/">虎皮鹦鹉</a>
                            <a href="//pet.pclady.com.cn/other/" class="gray">MORE>></a>
                        </dd>
                    </dl>-->
        </div>
    </div>
</div>