<footer class="footer-main">

    <section class="footer-contact">
        <div class="container">
            <ul>
                <li><strong>我们的专家是14/7:可用的</strong></li>
                <li class="icon-phone-w"><span>1-800-672-4399</span></li>
                <li>
                    <div class="footer-contact__icon icon-chat-w" style="display: block;"><span>聊天</span></div>
                </li>
                <li>
                    <a href="#" class="icon-email-w footer-contact__icon"><span>电子邮件</span></a>
                </li>
            </ul>
            <a href="#header-main" class="to-top"><span class="hidden-desktop">回到顶部</span></a>
        </div>
    </section>
    <!--<div class="footer-content">-->
    <!--<div class="container">-->
    <!--<section class="footer-links">-->
    <!--<ul>-->
    <!--<li>-->
    <!--<a href="/app/content/about-us">关于</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="/app/account" rel="nofollow">账户</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="/petcentral">博客</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="/ci/lp/resp/chewy-app/chewy-app.html">得到了应用</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="/gift-guide">礼物指南</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="/jobs">工作</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</section>-->
    <!--</div>-->
    <!--</div>-->
    <section class="footer-copyright">
        <div class="container footer-copyright__container">
            <div class="footer-copyright__container__rx">
                <ul>
                    <li> {:sysconf('site_copy')}</li>
                    <li>
                        <a href="#">使用条款</a>
                    </li>
                    <li>
                        <a href="#">隐私政策</a>
                    </li>
                    <li>
                            {:sysconf('miitbeian')}
                    </li>
                    <li>联系地址：成都市高新区天府大道北段966号4栋1单元1层40116号</li>
                </ul>
            </div>
        </div>
    </section>
</footer>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
    document.body.style.overflowX = 'hidden';
</script>