<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>支付成功</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<style>
			.cw-btn--action {
			    background: linear-gradient(to right, #64A8FA, #55C7FC);
			    color: #fff;
			    box-shadow: 0 0.2rem 0 0 #64A8FA;
			    padding: 20px;
			    border-radius: 4px;
			    width: 300px;
			    border: .1rem solid transparent;
			    margin: 0 auto;
			}
			.conzfcg{width: 300px;margin: 0 auto;margin-top: 200px;}
			p{text-align: center;}
		</style>
	</head>
	<body>
		{include file="public/header" /}
		<div class="conzfcg">
		<img src="__STATIC__/index/img/zfcg.png" style="margin-left: 32%;width: 110px;height: 110px;"/>
		<p style="color: #03CB06;">支付成功</p>
		<p style="color: #333;">&yen;300元</p>
		<input type="button" class="cw-btn--action" value="确定"/>
		</div>
	</body>
</html>
