<!DOCTYPE html>
<html lang="en" class="cw-desktop">

	<head>

		<title>按品牌选购</title>
		<meta name="apple-mobile-web-app-title" content="">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="description" content="" />

		<link rel="stylesheet" type="text/css" href="__STATIC__/index/css/main.e2d3321f9f46d12d084c.css">
		<style>
			.container {
    width: 90% !important;
}
			.featured-brands ul li img {
				width: 100%;
				height: 70px;
			}
			@media (max-width:768px) {
			#content{width: 98% !important;}
			.featured-brands{overflow: hidden;height: auto !important;}
			.footer-copyright__container__rx:last-child{width: 50%;}
			.featured-brands li.blue-buffalo a{width:21% !important;}
			}
		</style>
		<script type="text/javascript">
			! function(e) {
				function t(t) {
					for(var n, c, f = t[0], u = t[1], i = t[2], l = 0, b = []; l < f.length; l++) c = f[l], o[c] && b.push(o[c][0]), o[c] = 0;
					for(n in u) Object.prototype.hasOwnProperty.call(u, n) && (e[n] = u[n]);
					for(d && d(t); b.length;) b.shift()();
					return a.push.apply(a, i || []), r()
				}

				function r() {
					for(var e, t = 0; t < a.length; t++) {
						for(var r = a[t], n = !0, f = 1; f < r.length; f++) {
							var u = r[f];
							0 !== o[u] && (n = !1)
						}
						n && (a.splice(t--, 1), e = c(c.s = r[0]))
					}
					return e
				}

				var n = {},
					o = {
						0: 0
					},
					a = [];

				function c(t) {
					if(n[t]) return n[t].exports;
					var r = n[t] = {
						i: t,
						l: !1,
						exports: {}
					};
					return e[t].call(r.exports, r, r.exports, c), r.l = !0, r.exports
				}

				c.e = function(e) {
					var t = [],
						r = o[e];
					if(0 !== r)
						if(r) t.push(r[2]);
						else {
							var n = new Promise(function(t, n) {
								r = o[e] = [t, n]
							});
							t.push(r[2] = n);
							var a, f = document.getElementsByTagName("head")[0],
								u = document.createElement("script");
							u.charset = "utf-8", u.timeout = 120, c.nc && u.setAttribute("nonce", c.nc), u.src = function(e) {
								return c.p + "" + ({
									1: "vendors"
								}[e] || e) + "." + {
									1: "c199fc0cbe42a6163aa4",
									2: "e736498e087e67b72361",
									73: "6dc5b00cf2d21f6c11b4",
									74: "cf3510af78b06615e36f",
									75: "5d4f3b0e2cb43eaa51bf",
									76: "18b70fb1c6ebd58641b7",
									77: "3f05b7a0da62dd7ff741",
									78: "4640e44a8d96eb3dd4cd",
									79: "209dd7e9fba4cd8deaa3",
									80: "f0fcc5228362685de4f0",
									81: "7bb8f53c1bcddb91da3e",
									82: "a888a96bdc057a5c8799",
									83: "417674476ddaacf2c964",
									84: "53707a40ed255e2a6ac4",
									85: "6c14cf2ab2f2fadb7100",
									86: "bf5efa71eb923ca5307e"
								}[e] + ".packaged.js"
							}(e), a = function(t) {
								u.onerror = u.onload = null, clearTimeout(i);
								var r = o[e];
								if(0 !== r) {
									if(r) {
										var n = t && ("load" === t.type ? "missing" : t.type),
											a = t && t.target && t.target.src,
											c = new Error("Loading chunk " + e + " failed.\n(" + n + ": " + a + ")");
										c.type = n, c.request = a, r[1](c)
									}
									o[e] = void 0
								}
							};
							var i = setTimeout(function() {
								a({
									type: "timeout",
									target: u
								})
							}, 12e4);
							u.onerror = u.onload = a, f.appendChild(u)
						}
					return Promise.all(t)
				}, c.m = e, c.c = n, c.d = function(e, t, r) {
					c.o(e, t) || Object.defineProperty(e, t, {
						enumerable: !0,
						get: r
					})
				}, c.r = function(e) {
					"undefined" != typeof Symbol && Symbol.toStringTag && Object.defineProperty(e, Symbol.toStringTag, {
						value: "Module"
					}), Object.defineProperty(e, "__esModule", {
						value: !0
					})
				}, c.t = function(e, t) {
					if(1 & t && (e = c(e)), 8 & t) return e;
					if(4 & t && "object" == typeof e && e && e.__esModule) return e;
					var r = Object.create(null);
					if(c.r(r), Object.defineProperty(r, "default", {
							enumerable: !0,
							value: e
						}), 2 & t && "string" != typeof e)
						for(var n in e) c.d(r, n, function(t) {
							return e[t]
						}.bind(null, n));
					return r
				}, c.n = function(e) {
					var t = e && e.__esModule ? function() {
						return e.default
					} : function() {
						return e
					};
					return c.d(t, "a", t), t
				}, c.o = function(e, t) {
					return Object.prototype.hasOwnProperty.call(e, t)
				}, c.p = "", c.oe = function(e) {
					throw console.error(e), e
				}, Object.defineProperty(c, "p", {
					get: function() {
						return "/assets/js/"
					}
				});
				var f = window.webpackJsonp = window.webpackJsonp || [],
					u = f.push.bind(f);
				f.push = t, f = f.slice();
				for(var i = 0; i < f.length; i++) t(f[i]);
				var d = u;
				r()
			}([]);
			//# sourceMappingURL=runtime.a88b2a54e07d8f3fab6d.packaged.js.map
		</script>
		<script src="__STATIC__/index/js/common-head-desktop.369ec2e7f367a87bdf67.packaged.js"></script>

		<link rel="stylesheet" type="text/css" href="__STATIC__/index/css/brands.b2dfcc33694e2a83bb39.css">
	</head>

	<!--[if IE 8 ]>
<body class="ie ie-8 "> <![endif]-->
	<!--[if IE 9 ]>
<body class="ie ie-9 "> <![endif]-->
	<!--[if (gt IE 9)|!(IE)]><!-->

	<body class="">

		<div id="container">
			<!--header-->
			{include file="public/header" /}
			<div class="nav-mask"></div>

			<aside id="modal-freeshipping" class="cw-modal">
				<div class="cw-modal-mask"></div>
				<div class="cw-modal-wrap">
					<div class="cw-modal-body">
						<header>
							<a href="#" class="cw-modal-close"></a>
						</header>
						<article class="cw-modal-content">
							<img src="static/picture/freeship-popup.20160526_2.png" />
						</article>
					</div>
				</div>
			</aside>

			<aside id="modal-home-autoship" class="cw-modal cw-modal-transparent">
				<div class="cw-modal-mask"></div>
				<div class="cw-modal-wrap">
					<div class="cw-modal-body">
						<header>
							<a href="#" class="cw-modal-close"></a>
						</header>
						<article class="cw-modal-content">
							<img src="static/picture/30offautoship-popup.20180703_11.jpg" />
						</article>
					</div>
				</div>
			</aside>
			<div id="wrap">
				<div id="bd" class="">
					<div id="content">
						<div class="brands">

							<h1>按品牌选购</h1>
							<div class="featured-brands">
								<ul>
									{volist name="brand|default=''" id="bn"}
									<li class="blue-buffalo">
										<a href="/goods_list3/{$bn.id}"><img src="{$bn.brand_logo}" /></a>
									</li>
									{/volist}
								</ul>
							</div>
							<ul class="letters">
								<li class="active" onclick="window.location.href='/brand'">
									<a href="">所有</a>
								</li>
								{foreach ["A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"] as $k=>$v}
								<li onclick="window.location.href='/sel_brand/{$v}'">
									<a href="" style="text-decoration: none">{$v}</a>
								</li>
								{/foreach}

							</ul>

							<div class="brands-list">
								{volist name="tit" id="t"}
								<div class="brand-list show" id="brands-A-page">
									<h2>{$t.initials}</h2>
									<ul>
										{volist name="t['list']" id="tl"}
										<li>
											<a href="/goods_list3/{$tl.id}" style="text-decoration: none">{$tl.brand_title}</a>
										</li>
										{/volist}
									</ul>
								</div>
								{/volist}
							</div>
						</div>

					</div>
				</div>
			</div>
			<!--footer-->
			{include file="public/foot" /}
		</div>
		<div class="deferred-scripts">

			<script type="text/javascript">
				$('.brands').on('click', '.letters li:not(.disabled) a', function(e) {
					e.preventDefault();
					$(this).closest("ul").find("li").each(function(e) {
						$(this).removeClass("active");
					});

					$(this).parent().addClass("active");
					var attr = $(this).attr("href");

					if(attr === "#viewall") {
						$(".brand-list").addClass("show");
					} else {
						$(".brand-list")
							.removeClass("show")
							.removeClass("active");
						$(attr + '-page').addClass("active");
					}
				});
			</script>

		</div>
	</body>

</html>